@using TUP.Core
@using TUP.Core.Models
@inherits UmbracoViewPage<List<TUP.Core.Models.TestResult>>

@if (Model != null && Model.Any())
{
<table class="blueTable">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @foreach (var item in Model.Where(x => x.Type == QueryType.All))
            {
                <th>@item.Method</th>
            }
        </tr>
    </thead>
    <tr>
        @RenderResultsForEachMethod("All Articles", Model.Where(x => x.Type == QueryType.All).ToList())
    </tr>
    <tr>
        @RenderResultsForEachMethod("Latest Page 1", Model.Where(x => x.Type == QueryType.Latest).ToList())
    </tr>
    <tr>
        @RenderResultsForEachMethod("Latest Page 5", Model.Where(x => x.Type == QueryType.LatestPage).ToList())
    </tr>
    <tr>
        @RenderResultsForEachMethod("Search Page 1", Model.Where(x => x.Type == QueryType.Search).ToList())
    </tr>
    <tr>
        @RenderResultsForEachMethod("Search Page 5", Model.Where(x => x.Type == QueryType.SearchPage).ToList())
    </tr>
</table>
}

@helper RenderResultsForEachMethod(string title, List<TestResult> results)
{
    <td>@title</td>

    var min = results.Min(x => x.AverageTime);
    var max = results.Max(x => x.AverageTime);
    foreach (var item in results.OrderBy(x => (int)x.Method))
    {
        <td class="@(item.AverageTime == min ? "min" : item.AverageTime == max ? "max" : null)">@item.AverageTime.ToString("F4")</td>
    }
}