@inherits TUP.Core.ViewPages.TUPViewPage<ArticleList>
@using Clean.Core.ViewModels
@using Examine.Search
@using Umbraco.Core.Composing
@using Umbraco.Examine
@{
    Layout = "master.cshtml";

    var iterations = 1;

    IEnumerable<ISearchResult> examineHelperResults = null;
    IEnumerable<ISearchResult> examineRawResults = null;
    IEnumerable<IPublishedContent> xpathResults = null;
    IEnumerable<IPublishedContent> descendantsResults = null;

    using (Current.Profiler.Step("Get Articles Using Examine Helper"))
    {
        for (var i = 0; i < iterations; i++)
        {
            examineHelperResults = ArticleService.GetLatestArticlesUsingExamineHelper();
        }
    }

    using (Current.Profiler.Step("Get Articles Using Examine Raw"))
    {
        for (var i = 0; i < iterations; i++)
        {
            examineRawResults = ArticleService.GetLatestArticlesUsingExamineRaw();
        }
    }

    using (Current.Profiler.Step("Get Articles Using XPath"))
    {
        for (var i = 0; i < iterations; i++)
        {
            xpathResults = ArticleService.GetLatestArticlesUsingXPath(Model);
        }
    }

    using (Current.Profiler.Step("Get Articles Using Descendants"))
    {
        for (var i = 0; i < iterations; i++)
        {
            descendantsResults = ArticleService.GetLatestArticlesUsingDescendants(Model);
        }
    }
}

@Html.Partial("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<h2>Examine Helper Results:</h2>
<ol>
    @foreach (var item in examineHelperResults)
    {
        <li>@item.Id</li>
    }
</ol>

<h2>Examine Raw Results:</h2>
<ol>
    @foreach (var item in examineRawResults)
    {
        <li>@item.Id</li>
    }
</ol>

<h2>XPath Results:</h2>
<ol>
    @foreach (var item in xpathResults)
    {
        <li>@item.Id</li>
    }
</ol>

<h2>Descendants Results:</h2>
<ol>
    @foreach (var item in descendantsResults)
    {
        <li>@item.Id</li>
    }
</ol>