@inherits Umbraco.Web.Mvc.UmbracoViewPage<Article>
@using Clean.Core.ViewModels
@using Clean.Core.Extensions
@using Umbraco.Core.Composing

@{
    Layout = "master.cshtml";
}
@*<h1>Custom Import Code</h1>*@
@*@{
        var contentService = Current.Services.ContentService;
        for (var i = 0; i < 1; i++)
        {
            var children = contentService.GetPagedChildren(1086, 0, 904, out var totalRecords);
            foreach (var child in children)
            {
                var copiedChild = contentService.Copy(child, 1086, false);
                contentService.SaveAndPublish(copiedChild);
            }
        }
    }*@
@*@Html.Partial("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage, Model.AuthorName, Model.ArticleDate))

    <article>
        @Html.GetGridHtml(Model, "mainContent", "Clean", fluidImages: true)
    </article>*@

<div class="container">
        <h2>Without Looping</h2>
        @Html.Action("RunAllTests", "Benchmark", new { iterations = 1000, loop = false })

        <h2>Without Looping Cached</h2>
        @Html.Action("RunAllTestsCached", "Benchmark", new { iterations = 1000, loop = false })

        <h2>With Looping</h2>
        @Html.Action("RunAllTests", "Benchmark", new { iterations = 1000, loop = true })

        <h2>With Looping Cached</h2>
        @Html.Action("RunAllTestsCached", "Benchmark", new { iterations = 1000, loop = true })
    </div>
